/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(251, 199, 1);
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

.cabecalho {
  background-color: rgb(255, 231, 45);
  display: flex;
  align-items: center;
  padding: 1rem;
}

.logo img {
  margin-right: auto;
  max-width: 7rem;
  height: auto;
}

.titulo {
  flex-grow: 1;
  text-align: center;
}

.cabecalhoMenu {
  display: flex;
}

.cabecalhoMenu a {
  color: rgb(83, 181, 181);
  text-decoration: none;
  margin: 0 1rem;
  border: 0.1rem solid white;
  padding: 0.6rem;
  border-radius: 0.4rem;
}

.cabecalhoMenu a:hover {
  background-color: white;
  color: rgb(83, 181, 181);
}

.cabecalho h1 {
  margin: 0;
  color: rgb(83, 181, 181);
  -webkit-text-stroke: 0.5px black;
  text-stroke: 0.5px black;
}

.home .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem 3rem 3rem 0;
}

.home .texto {
  flex-grow: 1;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 300;
  padding:30px;
  color: #FFFFFF;

}

.home .texto h1 {
  font-size: 50px;
  margin-bottom: 80px;
  color:rgb(83, 181, 181);

}
.home .imagem {
  margin-left: 20px;
}

.home .imagem img {
  max-width: 30rem;
  height: auto;
}

.footer {
  background-color: rgb(255, 231, 45);
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.github-img {
  max-width: 50px;
  height: auto;
}

.footer a {
   text-decoration: none;
  margin-right: 10px;
  color: rgb(83, 181, 181);
}

.footer a:hover {
  color: #fff;
}
