* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(251, 199, 1);
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.cabecalho {
  background-color: rgb(255, 231, 45);
  display: flex;
  align-items: center;
  padding: 1rem;
}

.logo img {
  margin-right: auto;
  max-width: 7rem;
  height: auto;
}

.titulo {
  flex-grow: 1;
  text-align: center;
}

.cabecalhoMenu {
  display: flex;
}

.cabecalhoMenu a {
  color: rgb(83, 181, 181);
  text-decoration: none;
  margin: 0 1rem;
  border: 0.1rem solid white;
  padding: 0.6rem;
  border-radius: 0.4rem;
}

.cabecalhoMenu a:hover {
  background-color: white;
}

.cabecalho h1 {
  margin: 0;
  color: rgb(83, 181, 181);
  -webkit-text-stroke: 0.5px black;
  text-stroke: 0.5px black;
}

.home .container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.home .texto {
  flex-grow: 1;
  text-align: center;
}

.home .texto h1 {
  font-size: 2rem;
  white-space: nowrap;
  margin-bottom: 50px;
  padding: 5px 0;
  color: rgb(83, 181, 181);
}

.home .texto p {
  flex-grow: 1;
  margin-left: 8px;
  text-align: left;
  font-size: 1.3rem;
  font-weight: 400;
  padding: 0 20px;
  color: #fff;
}

.img {
  max-width: 35rem;
  height: 36rem;
  margin-right: auto;
}

.footer {
  background-color: rgb(255, 231, 45);
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.github-img {
  max-width: 3rem;
  height: auto;
}

.footer a {
  color: rgb(83, 181, 181);
  text-decoration: none;
  margin-right: 10px;
}

.footer a:hover {
  color: #fff;
}
