<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" type="text/css" href="/Styles/style-login-usuario.css"/>
    <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet"
    />
    <title>Login Técnico</title>
    <!--<img src="images/persona.jpg" alt="mulher no computador">-->
</head>
<body>
<header class="cabecalho">
    <div class="logo">
        <img src="images/logo.jpeg" alt="logo ElasTech2024" />
    </div>
    <div class="titulo">
        <h1>Suporte ElasTech</h1>
    </div>
    <nav class="cabecalhoMenu">
        <a href="index.html">Voltar</a>
    </nav>
</header>

<section class="home">
    <div class="container">
        <img src="images/persona2.png" class="img" />
        <form class="form">
            <h3>Entrar como Técnico</h3>
            <label>Email</label> <br>
            <input type="email" id="email" name="email">  <br>
            <label>Senha</label><br>
            <input type="password" id="senha" name="senha"> <br>
            <button>Entrar</button>
        </form>
    </div>
</section>

<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="github">
                <img src="images/github.png" alt="GitHub Logo" class="github-img" />
            </div>
            <div class="github-links">
                <a href="https://github.com/BiancalBarreto">Bianca Barreto</a>
                <a href="https://github.com/ElisIrons">Elis Rodrigues</a>
                <a href="https://github.com/ericajv">Érica Viera</a>
                <a href="https://github.com/manuscruz">Emanuelle Cruz</a>
                <a href="https://github.com/iingrud">Ingrid </a>
                <a href="https://github.com/raylasilva">Rayla Sila</a>
                <a href="https://github.com/SanaOliver">Rosana Oliveira</a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
