<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chamados Usuário</title>
    <link rel="stylesheet" type="text/css" href="/Styles/style-chamados.css"/>
</head>
<body>

<header class="cabecalho">
    <div class="logo">
        <img src="images/logo.jpeg" alt="logo ElasTech2024" />
    </div>
    <div class="titulo">
        <h1>Suporte ElasTech</h1>
    </div>
    <nav class="cabecalhoMenu">
        <a href="/criar-chamado" >Novo chamado</a>
        <a href="/index.html">Sair</a>
    </nav>
</header>
<div class="texto">
    <h1>Novo chamado de <span th:text="${name}"></span></h1>
</div>

<section class="home">
    <div class="container">
        <h1>Chamado Criado com Sucesso</h1>
        <p>Detalhes do Chamado:</p>
        <table>
            <thead class="titulo-tabela">

                <tr>
                    <th>Usuário</th>
                    <th>Setor</th>
                    <th>Descrição</th>
                    <th>Prioridade</th>

                </tr>
                </thead>
            <tr>
       <td> <p> <span th:text="${chamado.nome}"></span></p></td>
                <td> <p><span th:text="${chamado.setor}"></span></p></td>
                <td> <p> <span th:text="${chamado.descricao}"></span></p></td>
                <td> <p><span th:text="${chamado.prioridade}"></span></p></td>
            </tr>

        </table>
    </div>
</section>

<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="github">
                <img src="images/github.png" alt="GitHub Logo" class="github-img" />
            </div>
            <div class="github-links">
                <a href="https://github.com/BiancalBarreto">Bianca Barreto</a>
                <a href="https://github.com/ElisIrons">Elis Rodrigues</a>
                <a href="https://github.com/ericajv">Érica Viera</a>
                <a href="https://github.com/manuscruz">Emanuelle Cruz</a>
                <a href="https://github.com/iingrud">Ingrid </a>
                <a href="https://github.com/raylasilva">Rayla Silva</a>
                <a href="https://github.com/SanaOliver">Rosana Oliveira</a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>