<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chamados</title>
    <link rel="stylesheet" type="text/css" href="/Styles/style-novo-chamado.css"/>
</head>
<body>
<header class="cabecalho">
    <div class="logo">
        <img src="images/logo.jpeg" alt="logo ElasTech2024" />
    </div>
    <div class="titulo">
        <h1>Suporte ElasTech</h1>
    </div>
    <nav class="cabecalhoMenu">
        <a href="/index.html">Sair</a>
    </nav>
</header>
<div class="texto">
    <h1> Criar novo chamado: </h1>
</div>
<section class="home">
    <div class="container">
        <form class="form"  action="/mostrar-chamado" method="get">
            <label for="nome">Usuário:</label><br>
            <input type="text" id="nome" name="nome" required><br>
            <label for="setor">Setor:</label><br>
            <input type="text" id="setor" name="setor" required><br>
            <label for="descricao">Descrição:</label><br>
            <textarea id="descricao" name="descricao" required></textarea><br>
            <label for="prioridade">Prioridade:</label><br>
            <select id="prioridade" name="prioridade" required>
                <option value="Baixa">Baixa</option>
                <option value="Média">Média</option>
                <option value="Alta">Alta</option>
            </select><br>
            <label for="dataInicio">Data:</label><br>
            <input type="date" id="dataInicio" name="dataInicio" required><br>
            <br>
            <button type="submit">Criar Chamado</button>
        </form>
    </div>
</section>

<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="github">
                <img src="images/github.png" alt="GitHub Logo" class="github-img" />
            </div>
            <div class="github-links">
                <a href="https://github.com/BiancalBarreto">Bianca Barreto</a>
                <a href="https://github.com/ElisIrons">Elis Rodrigues</a>
                <a href="https://github.com/ericajv">Érica Viera</a>
                <a href="https://github.com/manuscruz">Emanuelle Cruz</a>
                <a href="https://github.com/iingrud">Ingrid </a>
                <a href="https://github.com/raylasilva">Rayla Silva</a>
                <a href="https://github.com/SanaOliver">Rosana Oliveira</a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>