* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
background-color: #FFFFE0;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
.cabecalho {
  background-color: rgb(255, 231, 45);
  display: flex;
  align-items: center;
  padding: 1rem;
}
.logo img {
  margin-right: auto;
  max-width: 7rem;
  height: auto;
}
.titulo {
  flex-grow: 1;
  text-align: center;
}
.cabecalhoMenu {
  display: flex;
}
.cabecalhoMenu a {
  color: rgb(83, 181, 181);
  text-decoration: none;
  margin: 0 1rem;
  border: 0.1rem solid white;
  padding: 0.6rem;
  border-radius: 0.4rem;
}
.cabecalhoMenu a:hover {
  background-color: white;
  color: rgb(83, 181, 181);
}
.cabecalho h1 {
  margin: 0;
  color: rgb(83, 181, 181);
  -webkit-text-stroke: 0.5px black;
  text-stroke: 0.5px black;
}
div.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height:100%;
    padding:30px 150px;
    background-color: #FFFFE0;
}
.img {
    max-width: 60%;
    height: 500px;
    margin-left: 100px;
    border-radius:20px;
}
form.form {
    max-width: 100%;
    background-color: #FFD700;
    padding:80px;
    border-radius:30px;
}
form.form h3 {
font-size:28px;
margin-bottom:10px;
color:#008B8B;
}
form.form label {
    display: block;
    margin-bottom: 0px;
    color: rgb(83, 181, 181);
   font-size:22px;
}
form.form input[type="email"],
form.form input[type="password"] {
    width: 300px;
    padding: 15px;
    margin-bottom: 20px;
    border:none;
    border-radius: 5px;
    outline: none;
    color: #696969;
    font-size:18px;
}
form.form button {
    width: 100%;
    padding: 20px;
    background-color:#20B2AA;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size:18px;
    outline: none;
}
form.form button:hover {
    background-color: #008B8B;
    outline: 0.1px solid #808080;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 231, 45);
  width:100%;
  height:100px;
  left:0;
  position: fixed;
   bottom: 0;
}
.github-img {
  max-width: 60px;
  height: auto;
}
.footer a {
   text-decoration: none;
  margin-right: 20px;
  color: #008B8B;
  font-size: 14px;
}
.footer a:hover {
  color: #F0F8FF;
}
