* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
background-color: #FFFFE0;
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

.cabecalho {
  background-color: rgb(255, 231, 45);
  display: flex;
  align-items: center;
  padding: 1rem;
}

.logo img {
  margin-right: auto;
  max-width: 7rem;
  height: auto;
}

.titulo {
  flex-grow: 1;
  text-align: center;
}

.cabecalhoMenu {
  display: flex;
}

.cabecalhoMenu a {
  color: rgb(83, 181, 181);
  text-decoration: none;
  margin: 0 1rem;
  border: 0.1rem solid white;
  padding: 0.6rem;
  border-radius: 0.4rem;
}

.cabecalhoMenu a:hover {
  background-color: white;
}

.cabecalho h1 {
  margin: 0;
  color: rgb(83, 181, 181);
  -webkit-text-stroke: 0.5px black;
  text-stroke: 0.5px black;
}

.container {
  width: 900px;
  margin: 20px auto 50px auto;
}

.texto {
  margin-left:1rem;
  text-align: left;
  font-size: 1rem;
  white-space: nowrap;
  margin-top: 2rem;
  color: rgb(83, 181, 181);
}

table {
	border-collapse: collapse;
	border: 1px solid #000;
	margin-top:50px;
	margin-bottom: 18px;
	width:100%
}

th, td {
	padding: 0.8rem;
	border: 1px solid #000;
	text-align: center;
}

th {
	text-transform: uppercase;
	text-align: center;
	font-size:15px;
	letter-spacing: 0.2em;
}

tr:hover{
	background-color: yellow;
}

.titulo-tabela{
background-color:yellow;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 231, 45);
  width:100%;
  height:auto;
  left:0;
  position: fixed;
  bottom: 0;
  padding:1rem;
}
.github-img {
  max-width: 3rem;
  height: auto;
}
.footer a {
  color: rgb(83, 181, 181);
  text-decoration: none;
  margin-right: 10px;
}

.footer a:hover {
  color: #fff;
}